.titleAbout{
    display: flex;
    align-items: center;
  }
  
  .titleAbout p{
    color: #00ff4c;
    font-family: 'Gotham Black', sans-serif;
    font-size: 3vw;
    font-weight: 800;
    margin-left: 10%;
    margin-right: 2%;
  }
  
.titleAbout .line{
    flex: 1;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 10%;
  }

.about{
    margin-bottom: 700px;
}