body, html {
    position: absolute;
   }

.about{
    margin-bottom: 130px;
}

.titleAbout{
    display: flex;
    align-items: center;
  }
  
.titleAbout p{
    color: #00ff4c;
    font-family: 'Gotham Black', sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-left: 10%;
    margin-right: 2%;
  }
  
.titleAbout .line{
    flex: 1;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 10%;
    width: 100%;
  }

.summary{
    margin-left: 10%;
    margin-right: 50px;
    border: 1px solid white;
    box-shadow: 0 0 20px #00ff4c;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    height: 180px;
}

.summary-box{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Gotham Black', sans-serif;
    margin: 30px;
}

.summary-box section{
    cursor: pointer;
}

.summary-box section:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.about-page{
    margin-top: 60px;
    display: flex;
}

.school-box, .sport-box, .extra-box{
    border: 1px solid white;
    box-shadow: 0 0 20px #00ff4c;
    margin-right: 15%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.paragraphs p{
    color: #00ff4c;
    font-family: 'Gotham Black', sans-serif;
    margin: 30px;
    line-height: 30px;
}

.summary-box section{
    display: flex;
    align-items: center;
}

.summary-box section img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.school-box.hidden{
    display: none;
}

.sport-box.hidden{
    display: none;
}

.extra-box.hidden{
    display: none;
}

.sectionAbout{
    display: flex;
    align-items: center;
}
.gradPic,.servePic, .soundcloudPic{
    width: 20%;
    margin-right: 30px;
}

.servePic{
    margin-top: 30px;
}


.dronePic{
    margin-left: 30px;
    width: 30%;

}

.summary-box .selector.selected{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.sectionAbout a{
    font-family: 'Gotham Black', sans-serif;
    color: #ffffff;
    font-size: 12px;
    display: flex;
}

#awards img{
    max-height: 100px;
}

@media (max-width: 500px){
    .about-page{
        display: block;
    }
    .sectionAbout{
        display:inline-block;
        text-align:center;
        vertical-align:middle;
    }
    .sectionAbout p div a{
        display:inline-block;
        text-align:center;
        vertical-align:middle;
    }
    .gradPic,.servePic, .soundcloudPic{
        max-width: 200px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #sport2{
        display: flex;
        flex-flow: column;
    }
    #sport2 p{
        order: 1;
    }
    .dronePic{
        order: 2;
    }
    .school-box,.extra-box,.sport-box{
        margin: 0;
    }
    .soundcloudPic{
        margin-bottom: 30px;
    }
    .about{
       margin-left: 10%;
       width: 100%;
    }
    #coding{
        display: flex;
        flex-flow: column;
    }
    #coding p{
        order: 1;
    }
    #coding img{
        order: 2;
        margin: 0;
        margin-bottom: 40px;
    }
    .gradPic{
        margin-bottom: 30px;
        width: 300px;
    }
}
