body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(25, 24, 24);
  }

.header ul{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.header li{
    list-style: none;
}

.header a{
    text-decoration: none;
    color: #00ff4c;
    font-family: 'Gotham Light', sans-serif;
    font-size: 15px;
}

.header{
    top: 0;
    left: 0;
    background-color: #413F42;
    padding: 10px;
    margin-right: 0!important;
}

.closer{
    top: 0;
    left: 0;
    padding: 10px;
    margin-right: 0!important;
}

.logos{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.logos img{
    width: 30px;
    margin: 2%;
}

@media (max-width: 500px) {
    .header ul{
        width: 80%;
    }
}
