HTML CSSResult Skip Results Iframe
EDIT ON

body{
  background-size: cover;
}

.presentation{
  display: inline-block;
  margin: 0;
  margin-top: 200px;
  margin-left: 10%;
  color: #00ff4c;
  font-family: 'Gotham Black', sans-serif;
}

.typed-out{
  overflow: hidden;
  border-right: 3px solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: 
    typing 3s forwards;
  font-size: 5vw;
  font-weight: 800;
}

@keyframes typing {
  from { width: 0 }
  to{ width: 100%}
}

.presentation p{
  line-height: 30px;
  font-size: 17px;
}

.profileInfos{
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  display: flex;
  background-color: #413F42;
}

.profileInfos p{
  display: flex;
  align-items: center;
  color: #00ff4c;
  width: 100%;
  line-height: 30px;
  font-size: 17px;
  font-family: 'Gotham Black', sans-serif;
}

.profileInfos img{
  margin-left: 30px;
  width: 15%;
}

@media (max-width: 1000px){
  .profileInfos img{
    width: 20%;
  }
}

@media (max-width: 900px){
  .profileInfos img{
    width: 30%;
  }
}