HTML CSSResult Skip Results Iframe
EDIT ON

body{
  background-size: cover;
}

.presentation{
  display: inline-block;
  margin: 0;
  margin-top: 170px;
  margin-bottom: 110px;
  margin-left: 10%;
  color: #00ff4c;
  font-family: 'Gotham Black', sans-serif;
}

.typed-out{
  overflow: hidden;
  border-right: 3px solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: 
    typing 3s forwards;
  font-size: 5vw;
  font-weight: 800;
}

@keyframes typing {
  from { width: 0 }
  to{ width: 100%}
}

.presentation p{
  line-height: 30px;
  font-size: 17px;
  color: #ffffff;
}

.profileInfos{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.profileInfos p{
  color: #00ff4c;
  line-height: 30px;
  font-size: 17px;
  font-family: 'Gotham Black', sans-serif;
  border: 1px solid white;
  box-shadow: 0 0 20px #00ff4c;
  padding: 30px;
}

.profileInfos img{
  width: 200px;
  margin-left: 50px;
}

.social img {
  width: 30px;
  margin: 10px;
}

.social{
  width: 50px;
  height: 180px;
  margin-left: 15%;
  margin-top: 130px;
  background-color: #413F42;
  border-radius: 15px;
}

section{
  display: flex
}

.logos .logo2, .logos .logo3{
  margin-top: 20px;
}

.home{
  margin-bottom: 150px;
}
