HTML CSSResult Skip Results Iframe
EDIT ON

body{
  background-size: cover;
}
.container{
  display: inline-block;
  margin-top: 200px;
  margin-left: 40px;
  color: #03C03C;
  font-family: 'Courier New', monospace;
}

.typed-out{
  overflow: hidden;
  border-right: 3px solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: 
    typing 3s forwards;
  font-size: 2rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.container p{
  line-height: 30px;
}

.profileInfos{
  margin-bottom: 200px;
  margin-right: 100px;
  margin-top: 100px;
}

.profileInfos p{
  color: #03C03C;
  width: 200px;
  line-height: 20px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

.home img{
  width: 200px;
  border-radius: 10px;
  border: 1px solid #413F42;
}

.home{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 800px) {
  .home{
    display: block;
  }
  .typed-out{
    font-size: 1.3rem;
  }
  .container{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .profileInfos{
    margin-left: 25%;
    margin-right: 25%;
  }
}